#modalHowTo {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0;
    transition: all ease .3s;
}

#modalTitle .svgIcon {
    height: 20px;
    width: 20px;
    margin-right: 6px;
}

#modalTitle {
    color: #ffffff;
    font-size: 16px;
    padding: 18px 0;
    font-weight: 400;
    width: calc(100% - 108px);
    max-height: 70px;
    overflow: hidden;
}

.closeModal,.downloadModal {
    cursor: pointer;
    float: left;
    box-shadow: none;
    padding: 18px 15px 10px;
    margin: 0;
    color: #ffffff;
    background: transparent;
}

.downloadModal {
    float: right;
}

.modalHowToCard {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#modalContent {
    height: 94%;
    overflow: auto;
}

#modalContent > audio {
    width: calc(100% - 12px);
    background: #f1f3f4;
    float: left;
    margin: 40px 6px;
}

#modalContent > video {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    float: initial;
}

#modalContent > img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

#modalHowTo.active {
    display: block;
}