#modalHowTo {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 9%;
    max-height: 89%;
    min-height: 40%;
    left: 0;
    max-width: 1200px;
    width: calc(100% - 20px);
    margin: 0 10px;
    transition: all ease .3s;
}

.closeModal {
    cursor: pointer;
    margin-top: -50px;
    float: right;
    height: 40px;
    width: 40px;
    padding: 7px 0;
    background: #ff756b;
}

.modalHowToCard {
    position: absolute;
    width: 100%;
    max-height: 97%;
    left: 0;
    top: 0;
}

#modalContent {
    max-height: 94%;
    overflow: auto;
}

#modalContent > video {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    float: initial;
}

#modalContent > img {
    width: 100%;
    display: block;
    margin: auto;
}

#modalHowTo.active {
    display: block;
}