<ul>
    {{#historicos}}
        <li class="col padding-8 border-bottom">
            <div class="left padding-small">{{titulo}}</div>
            <a href="{{home}}howto/{{repositorio}}" data-animation="forward" class="btn btn-small theme right radius">acessar</a>
        </li>
    {{/historicos}}
</ul>