<div class="right padding-8">
    <a href="{{home}}howto/{{id}}" target="_blank" class="btn theme color-text-white padding-medium margin-0" style="width: 150px; font-size: 15px">acessar conteúdo</a>
</div>
<style>
    #previewQrRepositorio {
        max-width: 200px;
    }
    #previewQrRepositorio img {
        float:right;
    }
    textarea.formCrudInput {
        min-height: 134px;
    }
</style>