<div class="col p-0" id="qrcode-div">
    <div class="col p-0 overflow-hidden" id="qrcode-center">
        <h3 class="font-bold padding-16" style="text-align: center; color: #cccccc">Aponte a câmera para o QR Code</h3>
    </div>
    <canvas width="320" height="320" id="webcodecam-canvas"></canvas>
</div>